[submodule "mu-docker-event-query"]
	path = mu-docker-event-query
	url = https://github.com/big-data-europe/mu-docker-event-query.git
[submodule "mu-docker-watcher"]
	path = mu-docker-watcher
	url = https://github.com/big-data-europe/mu-docker-watcher.git
[submodule "mu-har-transformation"]
	path = mu-har-transformation
	url = https://github.com/big-data-europe/mu-har-transformation.git
[submodule "mu-swarm-logger-service"]
	path = mu-swarm-logger-service
	url = https://github.com/big-data-europe/mu-swarm-logger-service.git
